@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --bgCol: white;
    --fgCol: black;
    --themeAccentColor: #df6616;
    --themeAccentColorSecondary: #0076a6;
}


.dark-mode{
    --bgCol: #333333;
    --fgCol: white;
}

body{
    width: 85%;
    margin: 0px auto;
    background-color: var(--bgCol);
    color: var(--fgCol);
    font-family: 'Roboto', sans-serif;
}

.poor-man-header-nav{
    text-align: right;
    margin: 0.5em 0em 0em auto;
}

.poor-man-header-nav > p{
    margin-bottom: 0.3em;
}

.theme-toggle{
    background-color: var(--bgCol);
    border: 0px;
    color: var(--fgCol);
    text-decoration: underline;
    font-size: 100%;
    cursor: pointer;
}

.footer{
    font-size: 70%;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 0px;
    padding-right: 10px;
    text-align: right;
}

h1, h2{
    text-align:center;
}
.about>h2{
    text-align: left;
    font-size: 110%;
    margin-bottom: 0.2em;
}
.about>p{
    margin-top: 0.5em;
}

a{
    color: var(--fgCol);
}

.buttonLink{
    width: 100%;
    display:block;
    margin: 0px auto 1em auto;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 1em 0;
    border-radius: 15px;
}

.stageLink{
    background-color: var(--themeAccentColor);
}

.otherLink{
    background-color: var(--themeAccentColorSecondary);
}

@media screen and (min-width: 430px) {
    body{
        width: 60%;
        margin: 0px auto;
    }

}